@model ClockIn_ClockOut.Models.ClockEventPageViewModel

@{
    ViewData["Title"] = "Clock System";
}

<div class="text-center">
    <h1 class="display-4">@ViewData["Title"]</h1>

    <br />
    <p>Hello @Model.TeacherName!</p>
    <br />

    <a class="btn btn-primary" asp-controller="ClockEvents" asp-action="Create" asp-route-teacherName="@Model.TeacherName">Register clock event</a>

    @if (!string.IsNullOrWhiteSpace(Model.SuccessMessage))
    {
        <br />
        <br />
        <p>@Model.SuccessMessage</p>
    }
    else 
    {
        <br />
    }

    <hr />

    <a class="btn btn-primary" asp-controller="ClockEvents" asp-action="List" asp-route-teacherName="@Model.TeacherName">See all clock events</a>

    @if (Model.ClockEvents != null && Model.ClockEvents.Count > 0)
    {
        <br />
        <br />

        <table style="width: 100%;">
            <tr>
                <td width="40%">Date</td>
                <td width="30%">Clock in/out</td>
                <td width="">Actions</td>
            </tr>
            @{
                foreach(var clockEvent in Model.ClockEvents)
                {
                    var clockin = clockEvent.ClockIn ? "In" : "Out";
                    var datetime = clockEvent.EventDateTime.ToString("dd MMM yyy HH':'mm");

                    <tr>
                        <td>@datetime</td>
                        <td>@clockin</td>
                        <td>
                            <a asp-controller="ClockEvents" asp-action="Edit" asp-route-id="@clockEvent.Id" asp-route-teacherName="@Model.TeacherName">Edit</a>
                        </td>
                    </tr>
                }
            }
        </table>
    }

    <hr />

    <div class="row text-left">
        <a class="btn btn-primary" asp-controller="Home" asp-action="Index">Logout</a>
    </div>
</div>
